{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}"/>
{% endblock meta %}

{% block content %}
<div class="content-root">
    <div class="form-root">
        <h1 id="judul-form">Sign Up</h1>
        <section>
            <form action="postsignup" method="post" id="form">
            {% csrf_token %}
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Masukkan email..."><br/>

                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1" placeholder="Masukkan password..."><br/>

                <label for="password2">Ulang password</label>
                <input type="password" name="password2" id="password2" placeholder="Ulangi password..."><br/>

                <label for="name">Nama</label>
                <input type="text" name="nama" id="name" placeholder="Masukkan nama anda..."><br/>

                <button type="submit" class="button" value="SignUp" id="submitbutton">Sign Up</button>
            </form>
        </section>
    </div>
    <object class="object only-desktop" data="{% static 'user/svg/Computer-login-amico.svg' %}" type="image/svg+xml"></object>
</div>
{% endblock content %}

